* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* logo(hospital management system ) */

.logo {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 20px 30px;
    font-size: 3.5rem;
    border-radius: 10px;
    color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Navbar Css */
nav > Link {
    display: flex;
}
/*For Register and Login for now  */

.parentContainer {
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    background: linear-gradient(to right, #4910a3, #6528c7, #2a23d4, #00a9ff);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40%;
    max-height: 100%;
    min-width: 30%;
    max-width: 100%;
    font-size: 3rem;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container > h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 20px;
}

form > input[type="text"],
form > input[type="password"],
form > input[type="number"],
select {
    font-size: 1.5rem;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form > input[type="number"]::-webkit-inner-spin-button,
form > input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.buttonsContainer > input[type="submit"],
.buttonsContainer > input[type="button"] {
    font-size: 1.5rem;
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

form > input[type="submit"]:hover {
    background-color: #45a049;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 20px 0;
}
