.registerParent {
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    background: linear-gradient(to right, #4910a3, #6528c7, #2a23d4, #00a9ff);
    display: flex;
    align-items: center;
    justify-content: center;
}
.register {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    max-width: 100%;
    font-size: 3rem;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.register > h1 {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.registerForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 20px;
}
